.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  align-items: right;
}

.inputlabel {
  width: 25%;
  text-align: left;
  /* margin-right: px; */
  margin-left: 5%;
  font-size: 150%;
}

button {
  width: 30%;
  /* align-items: center; */
  /* align-self: center; */
  font-size: 150%;
  margin-left: 30%;
}

.input {
  font-size: 150%;
  width: 30%;
}


body {
    font-family: Arial, sans-serif;
}




section {
  /* display: block;
  background: lightgray;
  width: 100%;
  font-size: 50; */
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: 200%;   */
  
}

label {
    font-size: 150%;  
}
  
select {
    font-size: 100%;
}

input {
  font-size: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
